<template>
  <div>
    Message Stream: 
    <p><pre>{{ messageStream }}</pre></p>
    <input type="text" v-model="input">
    <button @click="sendMessage">Send</button>
  </div> 
</template>
<script>
import { setNewMessageCallback, sendCommand } from './ms-api/ms-api-interface.js';

export default {
  data: () => ({
    messageStream: '',
    input: ''
  }),
  mounted() {
    setNewMessageCallback((msg) => {
      this.messageStream = `${this.messageStream}
      ${msg}`;
    })
  },
  methods: {
    sendMessage() {
      sendCommand('newMessage', this.input);
    }
  }
}
</script>